Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@umesh-kushwaha 
gradle
/
gradle
490
10.1k3k
 Code Issues 2,147 Pull requests 78 Actions Security Insights
gradle/.gitignore
@lacasseio lacasseio Fix all sample references to snippets
79a58d5 on Nov 26, 2019
@adammurdoch@hansd@cbeams@wolfs@breskeby@ldaley@jjohannes@big-guy@zosrothko@teyckmans@sebersole@scogneau@radimk@pniederw@eskatos@lptr@kpage@lacasseio@melix@blindpirate@Vampire@ajoberstar@adrianbk
92 lines (79 sloc)  1.09 KB
  
# Gradle
# ------
.gradle
/build
/buildSrc/build
/buildSrc/subprojects/*/build
/subprojects/*/build
/subprojects/docs/src/samples/**/build
/subprojects/docs/src/snippets/**/build
/subprojects/internal-android-performance-testing/build-android-libs

# IDEA
# ----
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
*/**/.idea
.shelf
/*.iml
/*.ipr
/*.iws
/buildSrc/.idea
/buildSrc/.shelf
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/buildSrc/subprojects/*/*.iml
/buildSrc/subprojects/*/out
/out
/subprojects/*/*.iml
/subprojects/*/out
/.teamcity/*.iml
/.teamcity/target

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
.metadata/

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[nop]

# Emacs
# -----
*~
\#*\#
.\#*

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# macOS
# ----
.DS_Store

# HPROF
# -----
*.hprof

# Work dirs
# ---------
/incoming-distributions
/intTestHomeDir

# Logs
# ----
/*.log

# oh-my-zsh gradle plugin
.gradletasknamecache
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
